HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
/lib/aopalliance-1.0.jar
/lib/commons-logging-1.2.jar
/lib/spring-aop-5.2.3.RELEASE.jar
/lib/spring-aspects-5.2.3.RELEASE.jar
/lib/spring-beans-5.2.3.RELEASE.jar
/lib/spring-context-5.2.3.RELEASE.jar
/lib/spring-context-support-5.2.3.RELEASE.jar
/lib/spring-core-5.2.3.RELEASE.jar
/lib/spring-expression-5.2.3.RELEASE.jar
/lib/spring-instrument-5.2.3.RELEASE.jar
/lib/spring-jdbc-5.2.3.RELEASE.jar
/lib/spring-jms-5.2.3.RELEASE.jar
/lib/spring-messaging-5.2.3.RELEASE.jar
/lib/spring-orm-5.2.3.RELEASE.jar
/lib/spring-oxm-5.2.3.RELEASE.jar
/lib/spring-test-5.2.3.RELEASE.jar
/lib/spring-tx-5.2.3.RELEASE.jar
